[*.cs]

# IDE0021: Use block body for constructor
dotnet_diagnostic.IDE0021.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
